*,
*::after,
*::before {
  box-sizing: border-box;
}
body {
  background: #232323;
  margin: 0;
}
.container {
  max-width: 1200px;
  padding: 0 20px;
  margin: 0 auto;
}
form {
  background: #c8c4c4;
  padding: 20px;
  width: 300px;
}
.noUi-horizontal .noUi-handle {
  width: 25px;
  height: 25px;
  border-radius: 50%;
}
#input-select,
#input-number {
  width: 60px;
  padding: 5px;
  margin: 0 5px;
  text-align: center;
}
.noUi-horizontal .noUi-handle {
  background: #fff;
}
